.content {
  max-width: 500px;
  margin: auto;
}
h3{
  color: purple;
  font-size: 35px;
  font-weight: bold;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align:  center;
}
.red{
  color: red;
}
.green{
  color: rgb(15, 168, 15);
}
p{
  font-size: 25px;
  font-weight: bold;
}
.column {
  float: left;
  width: 100%;
  padding: 30px, 30px, 30px, 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5);
  padding: 50px, 50px, 50px, 50px;
  text-align: left;
  background-color: rgb(202, 188, 211);
  
}
.card:hover{
  transform: scale(1.2);
}

.card-1{
    background-image: url("btc.jpg");
        background-repeat: no-repeat;
      background-position: right;
      background-size: 150px;
  }
  
  .card-2{
     background-image: url("ethereum.jpeg");
         background-repeat: no-repeat;
      background-position: right;
      background-size: 250px;
  }
  
  .card-3{
     background-image: url("ripple.png");
     background-repeat: no-repeat;
      background-position: right;
      background-size: 280px;
  }
 
  .card-4{
    background-image: url("lite.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 150px;
  }
 
  .card-5{
    background-image: url("tether.jpg");
        background-repeat: no-repeat;
      background-position: right;
      background-size: 300px;
  }