body{
    text-align : center;
    font-family: "Courier New", monospace;
    font-size: 50px;
}
h1{
    padding: 100px;
    text-align : center;
    font-family: "Courier New", monospace;
    font-size: 130px;
    background: lightblue;
    color: tomato;
    
    
}
form{
    text-align : center;
    font-family: "Courier New", monospace;
    background: lightblue;
    font-weight: bold;
    font-size: 30px;
}

input:focus {
    background-color: lightseagreen;
}

.data{
    width: 20%;
    padding: 14px 20px;
}

input[type=submit]{
    width: 20%;
    padding: 14px 20px;
    background-color: greenyellow;
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 30px;
}

input[type=text]:hover{

}
input[type=submit]:hover{
    background-color: gold;
    border-style: groove;
}